Тема "Вычисления с помощью Numpy"

In [ ]:
import numpy as np

Задание 1. Создайте массив Numpy под названием a размером 5x2, первый столбец - 1, 2, 3, 3, 1, второй - 6, 8, 11, 10, 7. 
Будем считать, что каждый столбец - это признак, а строка - наблюдение.
Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [2]:
a = np.array([[1, 6],
              [2, 8],
              [3, 11],
              [3, 10],
              [1, 7]])

In [3]:
print(a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

In [10]:
mean_a = a.mean(0)

In [11]:
print(mean_a)

[2.  8.4]

Задание 2. Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [13]:
a_centered = np.subtract(a, mean_a)

In [14]:
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

Задание 3. Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [25]:
a_centered_sp = np.dot(a_centered.T[0], a_centered.T[1])

In [26]:
print(a_centered_sp)

8.0

In [32]:
cov_user = a_centered_sp / (a_centered.shape[0] - 1)

In [33]:
print(cov_user)

2.0

Задание 4**. В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером
2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [34]:
cov_np = np.cov(a.T)

In [36]:
print(cov_np[0][1])

2.0

Тема "Работа с данными в Pandas"

Задание 1. Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: 
[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и
поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [2]:
import pandas as pd

In [3]:
authors = pd.DataFrame({"author_id": [1, 2, 3],
                        "author_name": ["Тургенев", 
                                        "Чехов", 
                                        "Островский"]})

In [4]:
books = pd.DataFrame({"author_id": [1, 1, 1, 2, 2, 3, 3],
                      "book_title": ["Отцы и дети", 
                                     "Рудин", 
                                     "Дворянское гнездо", 
                                     "Толстый и тонкий", 
                                     "Дама с собачкой", 
                                     "Гроза", 
                                     "Таланты и поклонники"],
                      "price": [450, 300, 350, 500, 450, 370, 290]})

Задание 2. Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [14]:
authors_price = authors.merge(books)

In [36]:
authors_price = authors.merge(books, on="author_id")

In [37]:
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

Задание 3. Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [32]:
top5 = authors_price.sort_values("price", ascending=False, 
                                 ignore_index=True).head()

или то же самое ещё короче:

In [39]:
top5 = authors_price.nlargest(5, "price")

In [40]:
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

Задание 4. Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price, в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [54]:
authors_stat = authors_price.groupby("author_name").agg(
    min_price=pd.NamedAgg("price", "min"),
    max_price=pd.NamedAgg("price", "max"),
    mean_price=pd.NamedAgg("price", "mean"))

In [55]:
print(authors_stat)

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000

Задание 5**. Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные
из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

Просмотрите документацию по функции pd.pivot_table с помощью  опросительного знака. Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого
функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [56]:
authors_price["cover"] = ["твердая", 
                          "мягкая", 
                          "мягкая", 
                          "твердая", 
                          "твердая", 
                          "мягкая",
                          "мягкая"]

In [57]:
print(authors_price)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [67]:
book_info = pd.pivot_table(authors_price, 
                           values="price", 
                           index="author_name", 
                           columns="cover", 
                           aggfunc="sum")

In [68]:
book_info["мягкая"].fillna(0, inplace=True)
book_info["твердая"].fillna(0, inplace=True)

In [69]:
print(book_info)

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0

In [70]:
book_info.to_pickle('book_info.pkl')

In [71]:
book_info2 = pd.read_pickle('book_info.pkl')

In [72]:
book_info.equals(book_info2)

True